{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="jumbotron text-center">
            <h1>Agence de test</h1>
            <p> In hac habitasse platea dictumst. Donec porta at elit scelerisque pulvinar. Donec nec neque ut orci malesuada efficitur. Vestibulum maximus sagittis convallis. Phasellus eget urna varius, convallis orci malesuada, suscipit elit. Ut efficitur nec lacus id ultricies. Mauris eu orci vel purus faucibus congue et quis magna. Aenean sed velit tortor. Pellentesque eget dui sit amet nulla tristique dignissim. </p>
        </div>
    </div>
{% endblock %}